.basket{
    .buyList{
        background: #FFFFFF;
border: 1px solid #E4E4E4;
box-shadow: 0px 0px 50px rgba(163, 163, 163, 0.25);
border-radius: 20px;
padding: 35px;
margin-bottom: 30px;
    }
    .delivery{
        background: #FFFFFF;
border: 1px solid #E4E4E4;
box-shadow: 0px 0px 50px rgba(163, 163, 163, 0.25);
border-radius: 20px;
padding: 35px;
    }
}