@import "/src/styles/mixins";

.resaleSection{
    padding: 45px 0;
    .container{
        @include PAGE_CONTAINER;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .resaleTitle{
        font-weight: 900;
        font-size: 50px;
        line-height: 62px;
        margin-bottom: 50px;
    }
    .resaleText{
        font-weight: 500;
        font-size: 25px;
        line-height: 130%;
        text-align: right;
        margin-bottom: 80px;
        max-width: 1107px;
    }
    .resaleItems{
        display: flex;
        gap:20px;
        margin-bottom: 58px;
    }
    .more{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        text-decoration-line: underline;
        color: #000000;
    }
}