@import "/src/styles/mixins";

.whyWe{
    padding: 58px 0;
    
    position: relative;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:85px;
    }
    .whiWeBackConteiner{
        position: absolute;
        top:288px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        .whyWeBackground{
            width: 100%;
            height: 100%;
            background-color: #FFF7E1;
            position: relative;
            &::before{
                    content: "";
                    background: url("../../media/images/bedge_line.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position-y: bottom;
                    width: 100%;
                    height: 500px;
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                }
                &::after{
                    content: "";
                    background: url("../../media/images/bedge_line.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position-y: bottom;
                    transform: scaleY(-1);
                    width: 100%;
                    height: 500px;
                    position: absolute;
                    top: 100%;
                    left: 0;
                }
        }
    }
    .whyWeImage{
        z-index: 2;
        width: 754.81px;
        height: 600.35px;
        flex-shrink: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .whyWeInfo{
        z-index: 2;
        .infoTitle{
            font-weight: 900;
            font-size: 50px;
            line-height: 62px;
            padding-bottom: 80px;
        }
        .infoItem{
            display: flex;
            justify-content: flex-start;
            gap:50px;
            margin-bottom: 60px;
            .itemImage{
                width: 84px;
                height: 84px;
                border-radius: 100%;
                background: #F9B300;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .itemDerection{
                display: flex;
                flex-direction: column;
                flex-grow: 0;
                .itemTitle{
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 36px;
                    margin-bottom: 20px;
                }
                .itemText{
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 130%;
                }
            }
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    
}