//WIDTH
$W_DESKTOP_WIDTH: 1140px;
$W_LAPTOP_WIDTH: 960px;
$W_TABLET_WIDTH: 720px;
$W_MOBILE_WIDTH: 540px;

//MEDIA
$M_DESKTOP: 1200px;
$M_LAPTOP: 992px;
$M_TABLET: 768px;
$M_MOBILE: 576px;

//COLORS
$C_BLACK: #000000;
$C_BLACK_LIGHT: #222222;
$C_ORANGE: #F9B300;
$C_ORANGE_DARK: #E2A300;
$C_WHITE:#FFFFFF;

//PADING
$P_DESKTOP:40px;
$P_LAPTOP:40px;
$P_TABLET:35px;
$P_MOBILE:18px;