footer {
  padding: 159px 122px 50px;
  position: relative;
  h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 50px;
  }
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 60px;
    width: 757px;
  }
  .agreement {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 44px;
    a {
      color: #f9b300;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footerImage {
    position: absolute;
    right: 665px;
    top: -50px;
    .grain {
      width: 694.18px;
      height: 478.42px;
      transform: rotate(163.23deg);
    }
    .cup {
      width: 682px;
      height: 455px;
    }
  }
  .footerinput {
    position: relative;
    height: 80px;
    input {
      border: none;
      font-size: 20px;
      outline: 0;
      width: 1100px;
      height: 80px;
      background: #f3f3f3;
      border-radius: 40px;
      padding: 24px 320px 24px 60px;
      &::placeholder {
        color: #c9c9c9;
      }
    }

    .footerButton {
      position: absolute;
      width: 260px;
      height: 80px;
      font-size: 25px;
      border-radius: 40px;
      right: 0;
      span {
        transition: ease-out 0.15s;
      }
      &:active {
        transform: unset;
        span {
          display: inline-block;
          transform: scale(0.95);
        }
      }
    }
  }
  .footenMenu {
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    .navigation {
      justify-content: flex-end;
    }
  }
}
