header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
  @include tablet {
    height: 143px;
    padding: 0 36px;
  }
  @include laptop {
    height: 113px;
    background-color: transparent;
    box-shadow: none;
    padding: 0 85px;
  }
  @include desktop {
    height: 160px;
    padding: 0 122px;
  }

  //бургер
  .burger {
    display: block;
    width: 29px;
    height: 15px;
    position: relative;
    padding: 0;
    border: none;
    background-color: unset;
    @include tablet {
      width: 59px;
      height: 30px;
    }
    @include laptop {
      display: none;
    }
  }

  .burger span,
  .burger:after,
  .burger:before {
    height: 2px;
    width: 100%;
    position: absolute;
    background: #000000;
    margin: 0 auto;
    border-radius: 5px;
    left: 0;
    @include tablet {
      height: 4px;
    }
  }
  .burger span {
    top: 6px;
    @include tablet {
      top: 13px;
    }
  }
  .burger:after,
  .burger:before {
    content: "";
  }
  .burger:after {
    bottom: 0px;
  }
  .burger:before {
    top: -1px;
    @include tablet {
      top: 0;
    }
  }
  //бургер

  .search {
    height: 59px;
    padding: 14px 30px;
    // background: #ffffff;
    box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
    border-radius: 30px;
    display: flex;
    flex-grow: 1;
    margin: 0 25px;
    .search-svg {
      width: 35px;
      height: 35px;
      margin-right: 20px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .search-input {
      border: none;
      font-size: 20px;
      outline: 0;
      // ::placeholder {
      //   color: #c4c4c4;
      // }
    }
  }

  .headericons {
    display: flex;
    .icon {
      width: 17px;
      height: 17px;
      margin-left: 30px;
      transition: ease-out 0.15s;
      cursor: pointer;
      @include tablet {
        width: 34px;
        height: 34px;
        margin-left: 60px;
      }
      @include laptop {
        width: 22px;
        height: 22px;
        margin-left: 40px;
      }
      @include desktop {
        width: 31px;
        height: 31px;
        margin-left: 53px;
      }
      svg {
        width: 20px;
        height: 20px;
        @include tablet {
          width: 34px;
          height: 34px;
        }
        @include laptop {
          width: 22px;
          height: 22px;
        }
        @include desktop {
          width: 31px;
          height: 31px;
        }
      }
      &:hover svg path {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.5;
        transform: scale(0.8);
      }
    }
  }
}
// :hover {
//   box-shadow: 0px 5px 20px rgba(157, 157, 157, 0.25);
// }
