.background {
  position: absolute;
  right: -305px;
  top: -45px;
  width: 453px;
  height: 561px;
  background-image: url(../image/fon.jpg);
  z-index: -1;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  transform: rotate(-1.5deg);
}

.imageSlider {
  position: absolute;
  right: 274px;
  top: 253px;
  .coffee {
    .grain {
      width: 369.39px;
      height: 254.58px;
      top: -35px;
      right: -386px;
      transform: rotate(157deg);
    }
    .cup {
      width: 363px;
      height: 242px;
    }
  }
}

.sectionSlider {
  padding: 60px 18px 35px;
  position: relative;
  h2 {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
  }
  p {
    margin-bottom: 220px;
    width: 220px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }

  .sliderButton {
  }
}
