@import "./font/stylesheet.css";
@import "header.scss";
@import "sectionSlider.scss";
@import "footer.scss";
@import "navigation.scss";
@import "coffee.scss";
@import "logo.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: "Gilroy";
}
