.news{
    padding: 36px 0 45px;
    .newsHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        h3{
            margin: 0;
        }
        .newsMore{
            text-decoration-line: underline;
            font-weight: 500;
            font-size: 25px;
            line-height: 130%;
        }
    }
}